.active_tab {
    background: #FACC15;
    color: black;
    border: #FACC15;
}
.form{
    display: none;
    width: 100%;
    animation:  mouving 0.5s ease-in-out;
}

@keyframes mouving {
    from{
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.form.active {
    display: block;
}

/*===== Upload  Button =====*/
.upload {
    display: none;
}

.upload_img:hover  .upload {
    display: block;
}


.linktab:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #FACC15;
    width: 0%;
    height: 3px;
    transition: width 0.3s ease;
}
.linktab.active:before {
    width: 100%;
}
.linktab.active {
    color: #1a202c;
    background: #fff !important;
}

.content {
    display: none;
}
.content.active {
    display: block;
}
